<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>LeetLog</title>
</head>
<body>
    <div class="logo-wrapper">
        <img src="{{ url_for('static', filename='LeetLog2.png') }}" alt="LeetLog Logo" class="logo-class">
        <p class="tagline">A smart way to organize your LeetCode grind.</p>
    </div>
    <form class="form-card" action="{{url_for('index')}}" method="post">
        <input type="text" name="number" placeholder="Please Enter the Number of Your Problem">
        <input type="text" name="priority" placeholder="Enter Priority Level">
        <input type="text" name="pattern" placeholder="Pattern Type">
        <input type="text" name="notes" placeholder="Notes">
        <button type="submit">Add Problem</button>

    </form>
    <div class="main-sections">
    <div class="problem-list">
        {% if problems|length < 1 %}
        <h3 class="no-problems">Looks Empty.. Create a Problem</h3>
        {% else %}
            {% for problem in problems %}
            <div class="problem-card">
                <div class="problem-text">
                    <p>Problem Number: {{ problem.number }}</p>
                    <p>Priority: {{ problem.priority_level }}</p>
                    <p>Pattern: {{ problem.pattern_type }}</p>
                </div>                
                <div class="problem-buttons">
                <form action="/delete/{{problem.number}}" method="post">
                    <button>Delete</button>
                </form>
                <form action="/update/{{problem.number}}" method="post">
                    <button>Edit</button>
                </form>
            </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="ai-analysis">
        <h2>AI ANALYSIS</h2>
        <div class="ai-button">
        <form action="/analyze" method="post">
            <button>Generate a Summary</button>
        </form>
    </div>
        {% if summary %}
        <p>{{summary}}</p>
        {% endif %}
    </div>
    <div class="mode">
        <h2>MODE</h2>
    </div>
</div>

</body>
</html>